<!DOCTYPE html>
<html>
    <head>
        <title>Week 4</title>
        <link rel="stylesheet" href="4_task.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    </head>
    
    
    <body>    
        
        <div id="app">
        <div class="container-1">
          <div class="box-1">
            <h1>{{ message }}</h1>
          </div>
          

          <div class="box-2">
            <button @click="a = !a">Name</button>
            <p v-show="a">Alessandra Colmenares</p>
            <button @click="b = !b">Student ID</button> 
            <p v-if="b">221235688</p>
            <p v-else>adcolmenares</p>
          </div>

          <div class="box-3">
            <ol>
                <li v-for="item in items">
                    <span v-bind:class="{complete: item.complete, incomplete: ! item.complete}">
                         {{ item.text }}
                    </span>
                </li>
            </ol>
          </div>

          <div class="box-4">
            <p>{{ count }}</p>
            <button v-on:click="addOne"> +1 </button>
            <button v-on:click="subOne"> -1 </button>
          </div>
        
        </div>
        </div>

        <script>
            
            var app = new Vue({
                el: '#app',
                data: {
                    message: "Hello, world",
                    visible: false,
                    items: [
                        {text: 'Aless', complete: false},
                        {text: 'Domi', complete: true},
                        {text: 'Colme', complete: false},
                        {text: 'lol', complete: false}
                    ],
                    count: 0,
                    a: true,
                    b: false
                },
                methods: {
                    addOne: function(){
                        this.count +=1;
                    },
                    subOne: function(){
                        this.count -=1;
                    }
                }
            })
        </script>

    </body>
        

</html>